* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 13px;
    padding-bottom: 7px;
    max-width: 1400px;
}

nav ul li a {
    color: #CCCCCC;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover {
    color: white
}

.navicon {
    height: 20px
}

header {
    background-color: #1D1D1F;
}

a {
    text-align: none;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h1 {
    font-size: 3.2em;
    font-weight: 700;
}

article h2 {
    font-size: 1.8em;
    margin: 10px;
}

article h4 {
    font-size: 1.3em;
    color: #616165;
    margin: 10px;
}

.announcement {
    background-color: black;
    color: white;
    padding: 90px;
}

.announcement button {
    margin: 20px;
    padding: 12px 24px;
    font-size: 1.1em;
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(black, black) padding-box,
        linear-gradient(to right, #e65840, #d124af, #286af5) border-box;
    color: white;
}

.announcement button:hover {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(white, white) border-box;
    color: black;
}

.product_large {
    background-color: black;
    color: white;
    margin-bottom: 12px;
    padding-top: 60px;
}

.product_large p {
    margin-top: 16px;
}

.product_large a {
    margin: 30px;
    color: #2589e8;
    text-decoration: none;
    font-size: 1.3em;
}

.product_large a:hover {
    text-decoration: underline;
}

footer {
    background-color: hsl(0, 0%, 98%);
    font-family: inherit;
    padding: 0;
    margin: 0;
    color: rgb(138, 135, 135);
    font-size: small;
    text-align: justify;
}

.Footer {
    padding-left: 15rem;
    padding-right: 15rem;
    /*padding-left: 150px;
padding-right: 150px; */
}

/*.list  {
.list ul li {
    display: inline-block;
    padding: 0 5px;
    color: black;
} */
.list {
    font-family: inherit;
    display: grid;
    width: 100%;
    height: 20rem;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 0 0 4rem 0;
    padding: 4px 0 2rem;
    /* color: rgb(11, 9, 9); 
    flex-wrap: wrap; 
    justify-content: center;
    padding-bottom: 2rem;
    font-size: small;
    position: static;  
    padding-right: 150px; */
}

.list a {
    color: rgb(113, 108, 108);
    padding: 0.2rem 0;
    flex-wrap: wrap;
    /*padding-bottom: 2px;
    text-align: center;
    display: inline-block; */
}

#footer-col {
    color: black;
    /*padding: 5px 14px;
    padding: 2 15px;
    text-align: center; 
    display: inline-flex; */
    margin: 0px 2px 6px 2px;
    padding: 5px 0;
}

.footer-col1 ul li {
    list-style: none;
    padding: 3px 0;
}

.footer-col2 ul li {
    list-style: none;
    padding: 3px 0;
}

.footer-col3 ul li {
    list-style: none;
    padding: 3px 0;
}

.footer-col4 ul li {
    list-style: none;
    padding: 3px 0;
}

.footer-col5 ul li {
    list-style: none;
    padding: 3px 0;
}

.paragraph a {
    color: rgb(113, 108, 108);
}

.copyright {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0;
}

hr {
    color: rgb(100, 99, 99);
}

.horizontal {
    color: rgb(93, 90, 90);
}

.shopping-way a {
    color: rgb(40, 40, 124);
}

.copyright a {
    color: rgb(100, 99, 99);
    padding: 1rem 2rem;
}